<div>
  <form [formGroup]="formLogin" (submit)="send()">

    <!-- ********** INPUT EMAIL ************** -->
    <div>
      <label for="email">Email</label>
      <input type="text" id="email" formControlName="email">
    </div>

    <!-- ********** INPUT PASSWORD ************** -->
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password">
    </div>

    <!-- ********** INPUT PASSWORD ************** -->
    <div>
      <label for="terms">Terms</label>
      <input type="checkbox" id="terms" formControlName="terms">
    </div>
    <!-- ********** BUTTON ************** -->
    <div>
      <button [disabled]="formLogin.invalid">Send</button>
    </div>
  </form>
</div>

<div>
  Valido: {{formLogin.valid | json}}
</div>
