/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

input, textarea, select {
  border-radius: .15rem !important;
  border: solid 1px #eaeaea !important;

}

.btn{
  border-radius: .15rem !important;
}

.shadow {
  box-shadow: 0 0px 2.4px rgba(0, 0, 0, 0.012),
  0 0px 8px rgba(0, 0, 0, 0.018),
  0 0px 36px rgba(0, 0, 0, 0.03) !important;
}

textarea {
  resize: none;
}
.control-error{
  font-size: .8rem;
  color: tomato;
}
